body {
   font-family: Roboto, Helvetica, sans-serif;
   text-align: center;
}

.x {
   color: red;
}

.o {
   color: blue;
}
 
#board {
   font: 85px arial, sans-serif;
   margin: 3px;
   display: grid; /* Display as a grid layout container */
   grid-template-columns: repeat(3, 100px); /* Three columns, each 100px wide */
   grid-template-rows: repeat(3, 100px); /* Three rows, each 100px tall */
   grid-gap: 10px; /* 10px gap between grid cells */
   justify-content: center; /* Center the grid horizontally */
}

#board > div {
   border: 1px solid LightSkyBlue;
   text-align: center;
}
